<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- no favicon -->

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/js/tether.min.js" type="text/javascript"></script>

  <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>


</head>

<body>


<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" enabled>
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Gmail MailBox</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              00%
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div id="mail">
    <a class="dropdown-item" href="#">
      <div class="dropdown-divider"></div>

    </a>
  </div>
</div> <!-- container -->



<script>
/*
In a real project, this javascript should probably be placed in it's own file,
but for the purposes of this demo, its kept in the same file for simplicity.
*/
$('#mail').empty()


$(function() {
    // When we're using HTTPS, use WSS too.
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + '/dashboard/';
    //console.log("Connecting to " + ws_path)
    var socket = new WebSocket(ws_path);

    socket.onopen = function(message) {
           console.log("Connected! start task");
           var message = {
               action: "connected",
           };
           socket.send(JSON.stringify(message));

    };

    socket.onmessage = function(message) {
          var data = JSON.parse(message.data);

          console.log('recive message (update mails)');

          if(data.action == "close_connection"){
            console.log('sockecet close');
            socket.close();
          }
          else if(data.action == "update_mail"){
            if (data.caluse != 'only_once'){
                  $('#myModal').modal('show');
                }

            $('#mail').append('<a class="dropdown-item" href="#"><strong> '+ data['header'] +' </strong><span class="small float-right text-muted"> '+data['date']+' </span><div class="dropdown-message small"> '+data['body']+' </div></a>');
          }
          else if (data.action == "stop_update"){
            $('#myModal').modal('hide');
          }
          else if (data.action == "update_progress_bar"){
            $(".progress-bar").css("width", data.value_percent +"%").text( data.value_percent +"%");
          }
    };
    socket.onclose = function(message) {
        console.log('sockecet close');
        //var data = JSON.parse(message.data);

        socket.close();         //socket.close();
    };

});

</script>
<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>


</body>
</html>
